[submodule "competition/program/DAC4RL"]
	path = competition/program/DAC4RL
	url = https://github.com/automl/DAC4RL.git
[submodule "competition/program/DAC4SGD"]
	path = competition/program/DAC4SGD
	url = https://github.com/automl/DAC4SGD.git
